<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" >

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
  <div class="container mt-2">
    <div class="card">
      <div class="card-header"> Liste des clinet </div>
      <div class="card-body">
        <form method="get" th:action="@{client}">
          <label>Keyword</label>
          <input type="text" name="keyword" th:value="${keyword}">
          <button type="submit" class="btn btn-primary">Chercher</button>
        </form>
        <table class="table">
          <thead>
          <tr>
              <th>TD</th><th> Nom</th><th> Comment</th><th>photo</th><th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="c:${clients}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.comment}"></td>
            <td >
              <img th:if="${c.photoUrl}" th:src="${c.photoUrl}" alt="Photo du client" />

            </td>
            <td th:text="${c.joined}"></td>
            <td>
              <a class="btn btn-success" th:href="@{/client/{clientId}/edit(clientId=${c.id},page=${curentPage})}">
                Edite
              </a>
            </td>
            <td>
              <a class="btn btn-success" th:href="@{/client/delete(id=${c.id},page=${curentPage})}">
                 delete
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <ul class="nav nav-pills">
          <li th:each="page,status:${pages}">
            <a th:class="${status.index==curentPage?'btn btn-info ms-2': 'btn btn-outline-info ms-2'}"
               th:text="${status.index}"
               th:href="@{client(page=${status.index},keyword=${keyword})}">
            </a>

          </li>

        </ul>

      </div>
    </div>
  </div>
</div>
</body>
</html>