<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"  >

<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div  class="col-6 offset-3">
        <form method="post" th:object="${client}"  th:action="@{/client/{clientId}/edit(clientId=${client.id})}">
            <div>
                <label>ID</label>
                <label th:text="${client.id}"></label>
                <input class="form-control" type="text"  name="id" th:value="${client.id}">
                <span th:errors="${client.id}"></span>

            </div>
            <div>
                <label>Nom</label>
                <input class="form-control" type="text"  name="name" th:value="${client.name}">
                <span th:errors="${client.name}"></span>

            </div>
            <div>
                <label>Date Naissance</label>
                <input class="form-control" type="datetime-local"  name="joined" th:value="${client.joined}">
                <span th:errors="${client.joined}"></span>

            </div>
            <div>
                <label>photo</label>
                <input class="form-control" type="file"  name="photoUrl" th:value="${client.photoUrl}">
                <span th:errors="${client.photoUrl}"></span>
            </div>

            <div>
                <label>comment</label>
                <input class="form-control" type="text"  name="comment" th:value="${client.comment}">
                <span th:errors="${client.comment}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>

        </form>
    </div>
</div>
</body>
</html>